.container {
  width: 800px;

  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .btnContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;

    button {
      padding: 10px 20px;
      background-color: #349846;
      color: white;
      border: none;
      border-radius: 3px;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        background-color: #548c2f;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

    .noEntity {
      text-align: center;
      color: gray;
      font-size: 1.2rem;
      margin: auto;
      padding: 1rem;
      width: 100%;
    }
  }

  th,
  td {
    padding: 10px;
    border: 1px solid #cfdbd5;
  }

  .editBtn,
  .deleteBtn {
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: #00a6fb;
    color: white;
    font-weight: 600;
    &:hover {
      background-color: #0582ca;
    }
  }

  .deleteBtn {
    background-color: #ef233c;
    margin-left: 10px;
    &:hover {
      background-color: #d90429;
    }
  }
}
