* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  place-items: center;
  height: 100vh;
  display: flex;
  padding: 5rem;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
  gap: 2rem;
}

.coordinate-container {
  max-width: 800px;
  height: 600px;
  overflow: auto;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

@media only screen and (max-width: 1400px) {
  .App {
    flex-direction: column;
  }
}
